<div class="kakomi-box1">テキスト</div>
<div class="kakomi-box2">テキスト</div>
<div class="kakomi-box3">テキスト</div>
<div class="kakomi-box4">テキスト</div>
<div class="kakomi-maru1">テキスト</div>
<div class="kakomi-maru2">テキスト</div>
<div class="kakomi-maru3">テキスト</div>
<div class="kakomi-te1">テキスト</div>
<div class="kakomi-box8">テキスト</div>
<div class="kakomi-box9">テキスト</div>
<div class="kakomi-box10">ここにテキスト</div>
<div class="kakomi-box11"><span class="title-box11">タイトル</span>テキスト</div>
<div class="kakomi-box12"><span class="title-box12">タイトル</span>テキスト</div>
<div class="kakomi-box13"><span class="title-box13">タイトル</span>テキスト</div>
<div class="kakomi-box14"><span class="title-box14">タイトル</span>テキスト</div>
<div class="kakomi-maru4"><span class="title-maru4">タイトル</span>テキスト</div>
<div class="kakomi-tab1"><span class="title-tab1">タイトル</span>テキスト</div>
<div class="kakomi-tab2"><span class="title-tab2">タイトル</span>テキスト</div>
<div class="kakomi-triple1">テキスト</div>
<div class="kakomi-smart1"><span class="title-smart1">タイトル</span>テキスト</div>
<div class="kakomi-smart2"><span class="title-smart2">タイトル</span>テキスト</div>
<div class="kakomi-hosoku1">テキスト</div>
<div class="kakomi-hosoku2">テキスト</div>
<div class="kakomi-kage1">テキスト</div>
<div class="kakomi-kage2">テキスト</div>
<div class="kakomi-kage3"><span class="title-kage3">タイトル</span>テキスト</div>
<div class="kakomi-kage4">テキスト</div>
<div class="clip-box-a">テキスト</div>
<div class="clip-box-b">テキスト</div>
<div class="Hochi-box-a">テキスト</div>
<div class="Hochi-box-b">テキスト</div>
<div class="punch-box-a">テキスト</div>
<div class="punch-box-b">テキスト</div>
<div class="punch-box-c">テキスト</div>
<div class="kakomi-tape1">テキスト</div>
<div class="kakomi-tape2">テキスト</div>
<div class="kakomi-tape3"><span class="title-tape3">タイトル</span>テキスト</div>
<div class="kakomi-tape4"><span class="title-tape4">タイトル</span>テキスト</div>
<div class="kokuban-s1">テキスト</div>
<div class="kokuban-s2">テキスト</div>
<div class="kokuban-s3">テキスト</div>
<div class="kokuban-t1"><span class="title-t1">タイトル</span>テキスト</div>
<div class="kokuban-t2"><span class="title-t2">タイトル</span>テキスト</div>
<div class="kokuban-t3"><span class="title-t3">タイトル</span>テキスト</div>
<div class="kokuban-t5"><span class="title-t5">タイトル</span>テキスト</div>
<div class="wboard-w2"><span class="title-w2">タイトル</span>テキスト</div>
<div class="wboard-w3"><span class="title-w3">タイトル</span>テキスト</div>
<div class="wboard-w4"><span class="title-w4">タイトル</span>テキスト</div>

saruwaka
<div class="box2">
    <p>ここに文章</p>
</div>